---
import * as interfaces from '../../lib/interfaces';
import { buildHeadingId } from '../../lib/blog-helpers';
import RichText from './RichText.astro';
import NotionBlocks from '../NotionBlocks.astro';

export interface Props {
  block: interfaces.Block
  headings: interfaces.Block[]
}

const { block, headings } = Astro.props;

const id = buildHeadingId(block.Heading2);
---

{
  block.Heading2.IsToggleable ? (
    <details class="toggle">
      <summary>
        <a href={`#${id}`} id={id} class="adjust-sticky-header-toggle">
          <h4>
            {block.Heading2.RichTexts.map((richText: interfaces.RichText) => (
              <RichText richText={richText} />
            ))}
          </h4>
        </a>
      </summary>
      <div>
        {block.Heading2.Children && (
          <NotionBlocks blocks={block.Heading2.Children} headings={headings} />
        )}
      </div>
    </details>
  ) : (
    <a href={`#${id}`} id={id} class="adjust-sticky-header">
      <h4>
        {block.Heading2.RichTexts.map((richText: interfaces.RichText) => (
          <RichText richText={richText} />
        ))}
      </h4>
    </a>
  )
}

<style>
  /*
    sticky headerを使用しているため、目次で各セクションへと飛ぶにはこれで調整する必要がある
    ref: https://www.at-create.co.jp/staff-blog/css/341.html
  */
  .adjust-sticky-header {
    display: block;
    margin-top: calc(-1 * var(--header1-max-height));
    padding-top: var(--header1-max-height);
    pointer-events: none;
  }
  .adjust-sticky-header-toggle {
    margin-top: calc(
      -1 *
      (var(--header1-max-height) + var(--adjust-sticky-header-toggle-h2-height))
    );
    padding-top: calc(var(--header1-max-height) + var(--adjust-sticky-header-toggle-h2-height));
    pointer-events: none;
  }
  h4 {
    margin: 0.4em 0 0.3em;
    color: var(--fg);
    font-size: 1.5rem;
  }
  @media (max-width: 640px) {
    h4 {
      font-size: 1.2rem;
    }
  }

  .toggle {
    margin: 1.6rem 0 0;
  }
  @media (max-width: 640px) {
    .toggle {
      margin: 1.2rem 0 0;
    }
  }

  .toggle > summary {
    cursor: pointer;
  }

  .toggle > summary > a {
    display: inline;
  }

  .toggle > summary > a > h4 {
    display: inline;
  }

  .toggle > div {
    margin-left: 1em;
  }
</style>
