---
import type { Icon, SelectProperty } from '../../../lib/interfaces';
import PostTitle from './PostTitle.astro';
import Date from '../../BlogSections/Date.astro';
import PostTags from '../../PostTags.astro';
import NoImage from '../../../images/no-image.png';

export interface Props {
  title: string;
  icon: Icon;
  date: string;
  tags: SelectProperty[];
  coverImage: string;
}

const {
  title = 'Untitled Post',
  icon = null,
  date = '2024-01-01',
  tags = [],
  coverImage = NoImage.src,
} = Astro.props;

---
<div>
  <PostTitle title={title} icon={icon} />
  <Date date={date} />
  <PostTags tags={tags} enableLink={true}/>
  <div class="cover-image w-full my-10">
    <img
      class="size-full object-cover"
      src={coverImage}
      loading="lazy"
      alt="Article Cover Image"
      >
  </div>
</div>
